In [15]:
# set working directory to the location of the script
import os
os.chdir(os.path.dirname(os.path.abspath("C:/Users/ia_mc/OneDrive/Documentos/CSUF ECON + ACCT/ACCT 404/Social Security Project")))

In [17]:
# Filter state column to include all states and district of columbia
import pandas as pd
data = pd.read_csv("C:/Users/ia_mc/OneDrive/Documentos/CSUF ECON + ACCT/ACCT 404/Social Security Project/combined_state_oasdi_full.csv")
data = data[data['State'].isin(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 
                                'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 
                                'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 
                                'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 
                                'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 
                                'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 
                                'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 
                                'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 
                                'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 
                                'West Virginia', 'Wisconsin', 'Wyoming'])]

In [18]:
data.head()

,State,Total,Retirement,Survivors,Disability,Aged 65 or older,Year,Table_type
0,Alabama,"881,978","481,767","99,013","158,760","224,888",2004,Beneficiaries
1,Alaska,"62,781","37,077","5,115","9,115","18,790",2004,Beneficiaries
2,Arizona,"893,001","581,471","76,894","114,676","281,047",2004,Beneficiaries
3,Arkansas,"553,533","314,941","57,778","97,531","148,720",2004,Beneficiaries
4,California,"4,413,876","2,839,289","408,372","528,551","1,399,144",2004,Beneficiaries

In [21]:
# save csv
data.to_csv("combined_state_oasdi_full.csv", index=False)